.process__header{
  font-size: $large-font;
  font-weight: $font-bold;
  text-align: center;
  display: flex;
  justify-content: center;
  line-height: $line-height;
  padding: 0 50px;
}

.container__process{
  margin: $space-y-30;
}

.process__content{
  margin-top: 40px;
}

.process__step {
  font-size: $small-font;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 40px;
  padding: 10px;
  div:nth-of-type(2) {
    width: 260px;
  }
}

.process__step__text__wrapper{
  display: flex;
  flex-direction: column;
}

.process__step__text{
  position: relative;
}

.process__step__icon{
  height: $icon-large;
  width: $icon-large;
}

.process__step--right{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}

.underline{
  display: none;
}

.arrow{
  position: absolute;
  transform: rotate(90deg);
  height: 50px;
  left: 50%;
  top: 20px;
  img{
    height: 100%;
  }
}

.vector{
  display: none;
}

.arrow--left{
  transform: scaleX(-1) rotate(90deg);
}

@media (min-width: $medium-screen) {
  .process__step__wrapper{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    position: relative;
  }

  .process__step{
    text-align: right;
    margin-top: unset;
    padding: unset;
  }

  .process__step__icon{
    position: absolute;
    align-self: center;
    bottom: 30px;
  }

  .process__step__underline{
    position: absolute;
    bottom: -10px;
  }

  .process__step__wrapper--right{
    flex-direction: row;
    text-align: left;
  }
  .process__step__text__wrapper{
    width: 45%;
    font-size: $small-font-md;
    min-height: 160px;
    div:nth-of-type(2){
      width: 100%;
    }
  }
  .arrow{
    display: none;
  }

  .process__content{
    position: relative;
  }

  .vector{
    display: flex;
    position: absolute;
    left: 50%;
    top: 49.5%;
    transform: translate(-50%, -50%);
  }

  .underline{
    position: absolute;
    bottom: -20px;
    display: block;
  }
}

@media (min-width: $large-screen) {
  .process__content{
    width: $container-width-lg;
  }
  .container__process{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
