@media (min-width: $medium-screen) and (max-width: $large-screen-break) {
  .box{
    font-size: $small-font-md;
    height: 118px;
    width: 150px;
  }
}

@media (min-width: $large-screen) {
  .box{
    width: 213px;
    height: 98px;
    flex-direction: row;
    font-size: $small-font-md;
    gap: 10px;
    padding: 18px;
    text-align: left;
  }
}