@media (min-width: $medium-screen) and (max-width: $large-screen-break) {
  .container__product__blend{
    display: flex;
    justify-content: center;
  }
  .product__blend__wrapper{
    width: 80%;
  }

  .container__ingredients{
    display: flex;
    justify-content: center;
    width: 270px;
    height: 265px;
  }

  .ingredients__text, .single__ingredient, .product__blend__text{
    font-size: $small-font-md;
  }
}

@media (min-width: $large-screen) {
  .swiper__text{
    div{
      text-align: left;
    }
    flex: 1;
  }
}