body {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "mixins";
@import "variables/_breakpoints";
@import "variables/_colors";
@import "variables/_fonts";
@import "variables/_space";
@import "variables/_other";

@import "components/_header";
@import "components/_navbar";
@import "components/_subscription";
@import "components/_benefits";
@import "components/_product-blend";
@import "components/_process";
@import "components/_faqs";
@import "components/_swiper";
@import "components/_quality";
@import "components/box";